<div class="d-flex">
    <nav class="navbar col-12 navbar-expand-sm navbar-dark bg-dark sticky-top"> 
      <a class="navbar-brand"  id="title" href="#"> 🍽 Mi Menú </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/general/1"> ☕️ Desayunos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/general/2"> 🥘 Comidas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/general/3"> 🥛 Cenas </a>
          </li>
        </ul>
      </div>
    </nav>
    </div>