<div class="d-flex">
    <nav class="navbar col-12 navbar-expand-sm navbar-dark bg-dark sticky-top"> 
      <a class="navbar-brand"  id="title" href="#"> 🍽 Mi Menú </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/general/1"> ☕️ Desayunos </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              🥘 Comidas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/general/2">🍗 Platos Fuertes</a>
              <a class="dropdown-item" routerLink="/general/7">🥗 Ensaladas</a>
              <a class="dropdown-item" routerLink="/general/5">🍛 Guarniciones</a>
              <a class="dropdown-item" routerLink="/general/6">🍲 Sopas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/general/10">Todo</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/general/3"> 🥛 Cenas </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              🥄 Otros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/general/9">🍰 Postres</a>
              <a class="dropdown-item" routerLink="/general/4">🍹 Bebidas</a>
              <a class="dropdown-item" routerLink="/general/8">🍿 Antojos</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>
    </div>